{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/books/book-detail.css' %}" />
{% endblock head %} 
{% block content %}
<section>
  <div class="book-details">
    <h1>Title: {{ book.title }}</h1>
    <h2>Author: {{ book.author }}</h2>
    <p>Published on {{ book.date_of_publication }}</p>
    <p>ISBN: {{ book.ISBN }}</p>
    <div class="cat-actions">
      <a href="{% url 'book-update' book.id %}" class="btn warn">Edit</a>
      <a href="{% url 'book-delete' book.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>
<section>
  <div class="pages">
    
  </div>
</section>
{% endblock content %}