{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/books/book-detail.css' %}" />
{% endblock head %} 
{% block content %}
<section>
  <div class="book-details">
    <h1>Title: {{ book.title }}</h1>
    <h2>Author: {{ book.author }}</h2>
    <p>Published on {{ book.date_of_publication }}</p>
    <p>ISBN: {{ book.ISBN }}</p>
    <div class="cat-actions">
      <a href="{% url 'book-update' book.id %}" class="btn warn">Edit</a>
      <a href="{% url 'book-delete' book.id %}" class="btn danger">Delete</a>
    </div>
  </div>
</section>
<section>
  <div class="pages">
    <h3>Add a new page:</h3>
    <form action="{% url 'add-page' book.id %}" method="post" autocomplete="off">
      {% csrf_token %}
      {{ page_form.as_p }}
      <button type="submit" class="btn submit">Add a page</button>
    </form>
    <h1>Pages:</h1>
    {% if book.page_set.all %}
    <ul>
      {% for page in book.page_set.all %}
      <li>Page {{ page.number }}: {{ page.content }}</li>
      {% endfor %}
    </ul>
    {% else %}
    <p><b>{{ book.title }}</b> has no pages added yet!</p>
    {% endif %}
  </div>
</section>
{% endblock content %}